<div class="page-header span7">
  <h2>Crea una cuenta</h2>
</div>

<div class="row">
  <div class="span7">
    <%= form_for(resource, :html => {:class => 'well'}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <div id="error_explanation" class="alert alert-error">
        <%= devise_error_messages! %>
      </div>

      <fieldset class="form-horizontal">

      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :password, :class => 'input-xlarge', :type => 'password' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Confirmación Password", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :password_confirmation, :class => 'input-xlarge', :type => 'password' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Crear', :class => 'btn btn-success'  %>
        <%= link_to 'Ya tengo una cuenta', new_user_session_path %>
      </div>

      </fieldset>
    <% end %>
  </div>
</div>
