<div class="page-header span7">
  <h2>Cambie su contraseña</h2>
</div>
<div class="row">
  <div class="span7">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'well form-password-new' }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <fieldset class="form-horizontal">
        <%= control_group f, :password, f.password_field(:password, :autocomplete => 'off') %>
        <%= control_group f, :password_confirmation, f.password_field(:password_confirmation, :autocomplete => 'off') %>

        <div class="form-actions">
          <%= f.submit 'Cambiar mi contraseña', :class => 'btn btn-success' %>
          <div class="links-container">
          <%= render "devise/shared/links" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
