.page-header
  %h1= t(".title")

.row
  .span3
    = render 'sidebar'
  .span9
    %table{class: "table table-striped"}
      %tr
        %th= Event.human_attribute_name :ticket_type
        %th= Event.human_attribute_name :tickets_count
        %th= Event.human_attribute_name :total
        - @event.ticket_types.each do |type|
          - type_data = @event.amounts_by_type(type)
          %tr
            %td= type_data[:name]
            %td= type_data[:tickets_count]
            %td= number_to_currency(type_data[:total])
        %tr
          %td{colspan: 2}
          %td= number_to_currency(@event.sold_amounts[:total])
