<div class="page-header">
  <h1>
    <%= t(".title") %>
  </h1>
</div>
<div class="row">
  <div class="span3">
    <%= render 'sidebar' %>
  </div>
  <div class="span9">
    <div class="well">
      <legend>
        <%= t(".subtitle", event_name: @event.name) %>
      </legend>
      <table class="table table-condensed table-bordered pte-table">
        <thead>
          <tr>
            <th><%= Event.human_attribute_name :ticket_type %></th>
            <th><%= Event.human_attribute_name :tickets_count %></th>
            <th><%= Event.human_attribute_name :sub_total %></th>
            <th><%= Event.human_attribute_name :total_fee %></th>
            <th><%= Event.human_attribute_name :total_discount %></th>
            <th><%= Event.human_attribute_name :total %></th>
          </tr>
        </thead>
        <tbody></tbody>
        <% @event.ticket_types.each do |type| %>
          <% type_data = @event.amounts_by_type(type) %>
          <tr>
            <td><%= type_data[:name] %></td>
            <td><%= type_data[:count] %></td>
            <td><%= number_to_currency(type_data[:sub_total]) %></td>
            <td><%= number_to_currency(type_data[:fee] * -1) %></td>
            <td><%= number_to_currency(type_data[:discount] * -1) %></td>
            <td><%= number_to_currency(type_data[:total]) %></td>
          </tr>
        <% end %>
        <% totals = @event.sold_amounts %>
        <tr>
          <td></td>
          <td><%= totals[:count] %></td>
          <td><%= number_to_currency(totals[:sub_total]) %></td>
          <td><%= number_to_currency(totals[:fee] * -1) %></td>
          <td><%= number_to_currency(totals[:discount] * -1) %></td>
          <td><%= number_to_currency(totals[:total]) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
