- content_for(:without_container) do
  .home-section
    .container-fluid
      .row-fluid
        .span4.offset7.intro
          %h1 PUNTO TICKET
          %h2 Puntoticket te facilita el trabajo con herramientas sencillas pero potentes para gestionar, promocionar y vender tu evento.
          =link_to new_event_path, :class => "btn btn-success btn-primary btn-large" do
            CREAR EVENTO
            %i.icon-circle-arrow-right



.page-header
  %h1= t(".title")
%table.table.table-striped
  %tr
    %th
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :address
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :start_time
    %th= Event.human_attribute_name :end_time

  - @events.each do |event|
    %tr
      %td{:style => 'width: 100px;'}= image_tag event.logo.url(:thumb)
      %td= link_to event.name, event, class: 'strong-link'
      %td= event.address
      %td= event.description
      %td= l event.start_time, format: :short
      %td= l event.end_time, format: :short
