<% if @event.is_published or !defined? show_buttons %>
  <div class="page-header">
    <div class="row-fluid">
      <div class="span12">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
  </div>
<% else %>
  <div ng-controller="EventEditTopNavbarCtrl">
    <%= render :partial => "shared/message", :locals => { :message => t("events.form.unconfirmed_producer_msg.message"), :title => t("events.form.unconfirmed_producer_msg.title"), :modal_name => "producerModal", :close_function => "closeProducerModal()"} %>

    <%= render :partial => "shared/message", :locals => { :message => t("events.form.modified_event_data_msg.message"), :title => t("events.form.modified_event_data_msg.title"), :modal_name => "modifiedEventDataModal", :close_function => "closeModifiedEventDataModal()"} %>

    <%= render :partial => "shared/message", :locals => { :message => t("events.form.past_event_msg.message"), :title => t("events.form.past_event_msg.title"), :modal_name => "pastEventModal", :close_function => "closePastEventModal()"} %>

    <div class="navbar persistent-header navbar-static-top">
      <div class="persistent-header-inner">
        <div class="container">
          <div class="page-header">
            <div class="row-fluid">
              <div class="span6">
                <h1>
                  <%= title %>
                </h1>
              </div>
              <div class="span6">
                <%= form_tag publish_event_path(@event), :method => :put, :style => "margin: 0px;", "ng-submit" => "onPublishEventClick($event)" do %>
                  <%= button_tag 'Publicar evento' , class: 'btn btn-success btn-primary pull-right' , type: :submit %>
                <% end if show_buttons.include? :publish %>
                <%= link_to event_path, :class => "btn btn-success pull-right" do %>
                  <i class="icon-picture icon-large"></i>
                  Vista Previa
                <% end if show_buttons.include? :preview %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
