<%= form_for @event, html: {class: "well"} do |f| %>
  <fieldset class="form-horizontal">
    <legend>Event details</legend>
    <% if @event.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h4 class="alert-heading"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
        <br />
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => '3', :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :organizer_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :organizer_name, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :organizer_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :organizer_description, :rows => '3', :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :custom_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :custom_url, :class => 'input-xlarge' %>
      </div>
    </div>

  </fieldset>


  <div class="form-actions">
    <%= f.submit 'Create event', :class => 'btn btn-success'  %>
  </div>

<% end %>
