<%= render :partial => "shared/message", :locals => { :message => t(".not_tickets_msg.message"), :title => t(".not_tickets_msg.title"), :modal_name => "notTicketsModal", :close_function => "closeNoTicketsModal()"} %>

<fieldset class="form-horizontal">
  <legend><%= t(".title") %></legend>

  <bs:control-group bound-cg label="<%= Event.human_attribute_name :sell_limit %>">
    <input type="number" name="event[sell_limit]" ng-model="event.sellLimit"
      ng-disabled="{{disabled}}" class="input-small"
      dirty-on-blur min="0"/>
  </bs:control-group>

  <div class="control-group center">
    <button type="button" class="btn btn-success"
      ng-click="addTicket()" ng-disabled="{{disabled}}"><%= t("buttons.add_ticket") %></button>
  </div>

  <div class="control-group center">
    <input name="event[include_fee]" type="text" value="false" style="display: none" ng-model="fee.include" />
    <input name="event[include_fee]" type="checkbox" value="true" ng-model="fee.include">
      <%= t(".include_fee_message") %></input>
  </div>
</fieldset>
<fieldset>
  <table class="table table-bordered" ng-animate="{show: 'event-show', hide: 'event-hide'}" ng-show="tickets.length">
    <thead>
      <tr>
        <th><%= TicketType.human_attribute_name :name %></th>
        <th><%= TicketType.human_attribute_name :quantity %></th>
        <th ng-if="fee.include"><%= TicketType.human_attribute_name :price_before_fee %></th>
        <th><%= TicketType.human_attribute_name :price %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticket in tickets">
        <td>
          <input name="event[ticket_types_attributes][{{ticket.index}}][id]"
            ng-model="ticket.id" type="text" style="display: none"></input>

          <bs:control-group bound-cg class="no-margin">
            <input name="event[ticket_types_attributes][{{ticket.index}}][name]"
              ng-model="ticket.name" type="text" dirty-on-blur
              ng-class="{'w170': fee.include}" required
              placeholder="<%= pholder(TicketType, :name) %>"/>
          </bs:control-group>
        </td>
        <td>
          <bs:control-group bound-cg class="no-margin">
          <!-- This hidden field holds quantity value without number mask format -->
            <input name="event[ticket_types_attributes][{{ticket.index}}][quantity]"
              ng-model="ticket.quantity" type="text" style="display: none" />
            <input ng-model="ticket.quantity" type="text" number-mask class="input-small"
              style="width:75px;" dirty-on-blur required />
          </bs:control-group>
        </td>
        <td ng-if="fee.include">
          <bs:control-group bound-cg class="no-margin">
            <input ng-model="ticket.priceBeforeFee" number-mask type="text"
              class="input-small" style="width:75px;"
              ng-change="calculateTicketPrice(ticket)" dirty-on-blur />
          </bs:control-group>
        </td>
        <td>
          <bs:control-group bound-cg class="no-margin">
            <!-- This hidden field holds price value without number mask format -->
            <input name="event[ticket_types_attributes][{{ticket.index}}][price]"
              ng-model="ticket.price" type="text" style="display: none" />
            <input ng-model="ticket.price" style="width:75px;" number-mask type="text" dirty-on-blur
              class="input-small" ng-readonly="fee.include" required />
          </bs:control-group>
        </td>
        <td>
          <bs:control-group bound-cg class="no-margin">
            <pte-rm-ticket-type-button type="ticket"></pte-rm-ticket-type-button>
          </bs:control-group>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
