<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-colored">
			<thead>
				<tr>
					<th><%= Event.human_attribute_name :name %></th>
					<th><%= Event.human_attribute_name :address %></th>
					<th><%= Event.human_attribute_name :start_time %></th>
					<th><%= Event.human_attribute_name :is_published %></th>
					<th></th>
          <th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% events.each do |event| %>
				<tr>
					<td><%= event.name %></td>
					<td><%= event.address %></td>
					<td><%= l(event.start_time, format: :short) if event.start_time %></td>
					<td class="center"><%= human_boolean(event.is_published) %></td>
          <td style="width: 100px;"><%= show_or_preview_button(event) %></td>
          <% if !event.is_past_event? %>
            <td style="width: 100px;">
              <%= link_to t('buttons.destroy'), event, method: :delete, data: { confirm: t(".delete_message") } %>
            </td>
          <% end %>
					<td style="width: 100px;"><%= statistics_or_edit_button(event) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="text-center">
			<%= will_paginate events %>
		</div>
	</div>
</div>
