<div class="page-header">
	<h1>
		<%= t(".title") %>
	</h1>
</div>
<div class="row" id="page_event" ng-controller="EventNewCtrl">
	<div class="span3">
		<%= render 'sidebar' %>
	</div>
	<div class="span9">
		<%= form_for @event, html: {name: 'form', class: 'well', novalidate: true} do |f| %>
			<fieldset>
				<legend>
					<%= t(".subtitle") %>
				</legend>
				<div class="row-fluid">
					<div class="span8 offset2">
						<table class="table table-condensed table-bordered table-options">
							<thead>
								<tr>
									<th><%= t(".table.fields.attr") %></th>
									<th><%= t(".table.fields.none") %></th>
									<th><%= t(".table.fields.optional") %></th>
									<th class="red-text"><%= t(".table.fields.required") %></th>
								</tr>
							</thead>
							<tbody>
								<% @attributes.each_with_index do |a, i| %>
									<tr>
										<td>
											<%= NestedResource.human_attribute_name(a[:attr]) %>
											<%= hidden_field_tag "event[data_to_collect][#{i}][name]", a[:attr] %>
										</td>
										<td>
											<%= radio_button_tag "event[data_to_collect][#{i}][value]", 'none', true, :class => 'custom-check' %>
										</td>
										<td>
											<%= radio_button_tag "event[data_to_collect][#{i}][value]", 'optional', (a[:required] == false), :class => 'custom-check' %>
										</td>
										<td>
											<%= radio_button_tag "event[data_to_collect][#{i}][value]", 'required', a[:required], :class => 'custom-check' %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<%= f.submit t("buttons.save"), :name => 'publish', :class => 'btn btn-success btn-primary btn-large' %>
			</div>
		<% end %>
	</div>
</div>
