- content_for(:publish_navbar) do
	.navbar.persistent-header.navbar-static-top
		.navbar-inner
			.container
				=link_to_submit "Publicar Evento", "btn btn-success btn-primary btn-large"

.page-header
	%h1= t(".title")

#page_event.row{"ng-controller" => "EventNewCtrl",
	"ng-init" => "init(#{raw @event.to_json(:include => :ticket_types) })"}
	.span3
		= render 'sidebar'
	.span9
		= render 'form'

.modal.hide.fade{:id => 'modalConfirm'}
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
		%h3#ModalHeader
	.modal-body
		%p.modal-p#jobs
	.modal-footer
		.row
			.span
				%h6#ModalFooter
			.span.pull-right#ButtonSpan
				%button.btn.btn-close{"aria-hidden" => "true", "data-dismiss" => "modal"}= t ".close"

:javascript
	$('a').not('.btn-success, .btn-primary').click(function(e){
		// $('#modalConfirm').modal('show');
		if (!confirm("¿Esta seguro que desea salir?"))
			e.preventDefault();
	});