- content_for(:publish_navbar) do
	.navbar.persistent-header.navbar-static-top
		.navbar-inner
			.container
				.page-header
					.row-fluid
						.span6
							%h1= t(".title")
						.span6
							=link_to_submit "Publicar Evento", "btn btn-success btn-primary btn-large"
							=link_to_submit "Publicar Evento", "btn btn-success btn-primary btn-large"

#page_event.row{"ng-controller" => "EventNewCtrl", "style" => "margin-top: 30px;",
	"ng-init" => "init(#{raw @event.to_json(:include => :ticket_types)}, #{current_user.producers.any?}, #{raw current_user.unconfirmed_producers.pluck(:id).to_json})"}
	.span3
		= render 'sidebar'
	.span9
		= render 'form'
