<div ng-controller="FormEventCtrl" ng-init='init(<%= raw @event.to_json %>, <%= raw @event.ticket_types_with_extra_data.to_json %>, <%= raw current_user.producers.to_json %>, <%= @event.is_past_event? %>, "<%= ENV["EVENT_BASE_URL"] %>")'>
  <%= render partial: 'edit_top_navbar', locals: {title: t('.title'), show_buttons: [:preview, :publish]} %>

  <div class="row" id="page_event" style="margin-top: 30px;">
  	<div class="span3">
  		<%= render 'sidebar' %>
  	</div>
  	<div class="span9">
  		<%= render 'form' %>
  	</div>
  </div>
</div>
