.page-header
  %h1= t(".title")
%table.table.table-striped
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :address
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :start_time
    %th= Event.human_attribute_name :is_published
    %th
    %th
  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.address
      %td= event.description
      %td= l event.start_time, format: :short
      %td= t(event.is_published.to_s)
      %td= link_to t("buttons.show"), event, :class => 'btn btn-mini'
      %td= link_to t("buttons.edit"), edit_event_path(event), :class => 'btn btn-mini'
%br/
- if can? :create, Event
  = link_to t("buttons.new"), new_event_path, :class => 'btn btn-success'
