<div class="page-header">
	<h1><%= t(".title") %></h1>
</div>

<ul class="nav nav-tabs">
  <li><%= event_tabs_link 'on_sale', me_events_path(is_published: true, is_valid_date: true), params[:current_tab] %></li>
  <li><%= event_tabs_link 'draft', me_events_path(is_published: false, is_valid_date: true), params[:current_tab] %></li>
  <li><%= event_tabs_link 'ended', me_events_path(is_published: false, is_valid_date: false), params[:current_tab] %></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active">
		<%= render :partial => "table_my_index", :locals => { can_delete: params[:current_tab] == 'draft'} %>
	</div>
</div>

<div class="table-actions">
	<%= link_to t(".new_event_btn"), new_event_path, :class => "btn btn-success btn-large"%>
</div>

</div>
