<div class="page-header">
	<h1><%= t(".title") %></h1>
</div>

<div ng-controller="MyEventsCtrl">

	<tabset>
		<tab heading="En venta">
			<%= render :partial => "table_my_index", :locals => { :events => @events_on_sale } %>
		</tab>
		<tab heading="Borrador">
			<%= render :partial => "table_my_index", :locals => { :events => @events_draft } %>
		</tab>
		<tab heading="Finalizado">
			<%= render :partial => "table_my_index", :locals => { :events => @events_ended } %>
		</tab>
	</tabset>
	<div class="table-actions">
		<%= link_to t(".new_event_btn"), new_event_path, :class => "btn btn-success btn-large"%>
	</div>

</div>
