.page-header
  %h1= t(".title")

.row
  .span3
    = render 'sidebar'
  .span9
    .well
      %legend= t(".subtitle", event_name: @event.name)
      - if @event.participants_table_header.size.zero?
        = t(".no_data_message")
      - else
        %table{class: "table table-condensed table-bordered table-options"}
          %thead
            %tr
              - @event.participants_table_header.each do |col|
                %th= NestedResource.human_attribute_name col
              %th
          %tbody
            - @event.participants(@transactions).each do |data|
              %tr
                - data.each do |attr|
                  - unless attr == data.last
                    %td= attr
                %td= link_to t('buttons.show'), puntopagos_transaction_nested_resource_path(data.last)
        = will_paginate @transactions
        .form-actions
          = link_to t("buttons.download"), participants_event_path(@event, format: :xls), :class => 'btn btn-success btn-primary btn-large'
