.page-header
  .row-fluid
    .span8
      %h1= @event.name
      %p= @event.description
    .span4
      = image_tag @event.logo.url(:medium), :class => 'pull-right medium-img' if @event.logo.file?
/ angular controller
/ passing ruby hash to javascript
/ passing puntopagos transaction path to javascript
#page_event.row{"ng-controller" => "EventShowCtrl", "ng-init" => "init(#{raw @event.ticket_types.to_json}, '#{puntopagos_transactions_new_path}')"}
  .span4
    .panel
      .panel-heading.panel-title
        %i.icon-building
        = t(".titles.organizer")
      %h5= @event.organizer_name
      %p
        = @event.organizer_description
    .panel
      .panel-heading.panel-title
        %i.icon-map-marker
        = t(".titles.when")
      = @event.address
    .panel
      .panel-heading.panel-title
        %i.icon-bullhorn
        = t(".titles.producer")
      = @event.producer_name
  .span8
    = form_for @event do |f|
      .panel.panel-primary
        .panel-heading.panel-title
          %i.icon-ticket
          = t(".titles.tickets")
        %table.table.table-striped.table-colored
          %thead
            %tr
              %th= t(".tickets_table.type")
              %th= t(".tickets_table.amount")
              %th= t(".tickets_table.qty")
          %tbody
            %tr{"ng-repeat" => "t in ticketTypes"}
              %td {{t.name}}
              %td {{t.price}}
              %td
                %select.input-small{"ng-model" => "t.qty"}
                  = options_for_select((0..10).step(1), 0)
        %legend
        .control-group.text-center
          %a.btn.btn-large.btn-success{:href => "{{ticketTypes|serailizedUrl:actionUrl:'ticket_types'}}", "ng-click" => "sendTicket($event)"}
            %h3= t("buttons.buy_now")
    .panel
      .panel-heading.panel-title
        %i.icon-info-sign
        = t(".titles.information")
      = @event.description
