<div ng-controller="EventShowCtrl" ng-init='init(<%= raw @event.ticket_types_for_table.to_json %>, <%= !@event.is_published %>, <%= @event.is_past_event? %>, <%= @event.in_publish_range? %>, <%= tickets_limit %>, <%= raw PTE::Theme::types_to_a.to_json %>, "<%= @event.theme %>")'>
  <!-- load theme -->
  <!-- if there is no associated theme, load the default css -->
  <%= stylesheet_link_tag "themes/#{@event.theme || PTE::Theme::default}", :id => 'theme_css' %>

  <%= render "show_top_navbar" unless(@event.is_published) %>

  <div class="page-header">
  	<div class="row-fluid">
  		<div class="span8">
  			<h1><%= @event.name %></h1>
  			<p><%= @event.description %></p>
  		</div>
  		<div class="span4">
  			<%= image_tag @event.logo.url(:medium), :class => 'pull-right medium-img' if @event.logo.file? %>
  		</div>
  	</div>
  </div>

  <div class="row" id="page_event">
  	<div class="span4">
  		<div class="panel">
  			<div class="panel-heading panel-title">
  				<i class="icon-bullhorn"></i>
  				<%= t(".titles.producer") %>
  			</div>
  			<h5><%= @event.producer_name %></h5>
  			<p><%= @event.producer_description %></p>
  		</div>
  		<div class="panel">
  			<div class="panel-heading panel-title">
  				<i class="icon-map-marker"></i>
  				<%= t(".titles.when") %>
  			</div>
        <p><%= l(@event.start_time, format: :pte) if @event.start_time %></p>
        <p><%= @event.address %></p>
  			<p><%= @event.enclosure if @event.enclosure %></p>
  		</div>
  	</div>
  	<div class="span8">
  		<%= render :partial => "shared/message", :locals => { :message => t(".not_tickets_msg.message"), :title => t(".not_tickets_msg.title"), :modal_name => "notTicketsModal"} %>

  		<%= render :partial => "shared/message", :locals => { :message => t(".prevent_buy_msg.message"), :title => t(".prevent_buy_msg.title"), :modal_name => "buyModal"} %>

      <%= render :partial => "shared/message", :locals => { :message => t(".limit_exceeded_msg.message", qty: tickets_limit), :title => t(".limit_exceeded_msg.title"), :modal_name => "limitModal"} %>

      <%= render :partial => "shared/message", :locals => { :message => t(".old_event_msg.message", qty: tickets_limit), :title => t(".old_event_msg.title"), :modal_name => "oldEventModal"} %>

      <%= render :partial => "shared/message", :locals => { :message => t(".publish_range_msg.message"), :title => t(".publish_range_msg.title"), :modal_name => "publishRangeModal"} %>

  		<%= form_tag puntopagos_transactions_new_path, :method => :get,
  		"ng-submit" => "validateTicketTypes($event)" do |f| %>
  		<div class="panel panel-primary">
  			<div class="panel-heading panel-title">
  				<i class="icon-ticket"></i>
  				<%= t(".titles.tickets") %>
  			</div>
  			<table class="table table-striped table-colored">
  				<thead>
  					<tr>
  						<th><%= TicketType.human_attribute_name(:name) %></th>
  						<th><%= TicketType.human_attribute_name(:price) %></th>
  						<th ng-show="anyPromo"><%= TicketType.human_attribute_name(:discount) %></th>
  						<th><%= TicketType.human_attribute_name(:bought_quantity) %></th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr ng-repeat="t in ticketTypes">
  						<td class="stock-empty">
                <div ng-class="{'line-through':stockEmpty(t)}" class="type-label">{{t.name}}</div>
                <div ng-show="stockEmpty(t)" class="empty-label"><%= t(".empty_stock_message") %></div>
              </td>
  						<td ng-class="{'line-through':typeWithPromo(t) || stockEmpty(t) }">
  							{{t.price | pteCurrency}}
  						</td>
  						<td ng-show="anyPromo">
  							<div ng-show="typeWithPromo(t)">
  								{{t.promotion_price | pteCurrency}}
  							</div>
  						</td>
  						<td>
  							<select class="input-small" ng-model="t.bought_quantity" ng-disabled="stockEmpty(t)">
  							<%= options_for_select((0..tickets_limit).step(1), 0) %>
  							</select>
  						</td>
  					</tr>
  				</tbody>
  			</table>
  			<legend></legend>

  			<input type="hidden" name="ticket_types[{{type.id}}][bought_quantity]" value="{{type.bought_quantity}}" ng-repeat="type in ticketTypes"/>

  			<div class="text-center">
  				<input type="submit" value="<%= t("buttons.buy_now") %>"
  				class="btn btn-success btn-primary buy-btn"/>
  			</div>
  		</div>
  		<% end %>
      <%= facebook_like_button @event %>
  	</div>
  </div>
</div>
