/ load theme
/ if there is no associated theme, load the default css
=stylesheet_link_tag "themes/#{@event.theme || PTE::Theme::default}", :id => 'theme_css'

/ static top navbar
- unless(@event.is_published)
  = render "show_top_navbar"


.page-header
  .row-fluid
    .span8
      %h1= @event.name
      %p= @event.description
    .span4
      = image_tag @event.logo.url(:medium), :class => 'pull-right medium-img' if @event.logo.file?
/ angular controller
/ passing ruby hash to javascript
/ passing puntopagos transaction path to javascript
#page_event.row{"ng-controller" => "EventShowCtrl", "ng-init" => "init(#{raw @event.ticket_types.to_json}, '#{puntopagos_transactions_new_path}', #{!@event.is_published})"}
  .span4
    .panel
      .panel-heading.panel-title
        %i.icon-bullhorn
        = t(".titles.producer")
      %h5= @event.producer_name
      %p
        = @event.producer_description
    .panel
      .panel-heading.panel-title
        %i.icon-map-marker
        = t(".titles.when")
      = @event.address
  .span8
    = render :partial => "shared/message", :locals => { :message => t(".not_tickets_msg.message"), :title => t(".not_tickets_msg.title"), :modal_name => "notTicketsModal", :close_function => "closeNoTicketsModal()"}
    = render :partial => "shared/message", :locals => { :message => t(".prevent_buy_msg.message"), :title => t(".prevent_buy_msg.title"), :modal_name => "buyModal", :close_function => "closeBuyModal()"}
    = form_for @event do |f|
      .panel.panel-primary
        .panel-heading.panel-title
          %i.icon-ticket
          = t(".titles.tickets")
        %table.table.table-striped.table-colored
          %thead
            %tr
              %th= t(".tickets_table.type")
              %th= t(".tickets_table.amount")
              %th= t(".tickets_table.qty")
          %tbody
            %tr{"ng-repeat" => "t in ticketTypes"}
              %td {{t.name}}
              %td {{t.price}}
              %td
                %select.input-small{"ng-model" => "t.qty"}
                  = options_for_select((0..10).step(1), 0)
        %legend
        .control-group.text-center
          %a.btn.btn-large.btn-success{:href => "{{ticketTypesAfterFilter|serailizedUrl:actionUrl:'ticket_types'}}", "ng-click" => "sendTicket($event)"}
            %h3= t("buttons.buy_now")
