%h1 Listing tickets

%table
  %tr
    %th User
    %th Ticket type
    %th Payment type
    %th Quantity
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.user_id
      %td= ticket.ticket_type_id
      %td= ticket.payment_status
      %td= ticket.quantity
      - if can? :read, ticket
        %td= link_to 'Show', ticket
      - if can? :update, ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
      - if can? :destroy, ticket
        %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can? :create, Ticket
  = link_to 'New Ticket', new_event_ticket_path