%p#notice= notice

.row
  .span8
    = @ticket.event_name
.row
  .span4
    = @ticket.event_start_time
  .span4
    = @ticket.event_address
.row
  .span8
    = @ticket.event_end_time
.row
  .span8
    = @ticket.user_email
.row
  .span8
    = ticket_type_label @ticket
