<div class="page-header">
	<h2><%= t(".title") %></h2>
</div>
<div class="row ticket">
	<div class="span3">
		<%= render 'configuration/sidebar' %>
	</div>
	<div class="span9 ticket-wrapper">
		<div id="web-ticket">
			<div class="row-fluid">
				<div class="span12">
					<%= image_tag @ticket.event.logo.url(:medium), :class => 'medium-img' if @ticket.event.logo.file? %>
				</div>
			</div>
			<div class="row-fluid ticket">
				<div class="span12">
					<div class="row-fluid">
						<div class="span9">
							<%= printable_ticket_label(t('.order_number'), @ticket.id.to_s) %>
							<%= printable_ticket_label(t('.event'), @ticket.event_name) %>
							<%= printable_ticket_label(t('.place'), @ticket.event_address) %>
							<%= printable_ticket_label(t('.date'), l(@ticket.event_start_time, format: :long)) if @ticket.event_start_time %>
							<%= printable_ticket_label(t('.sector'), @ticket.ticket_type_name) %>
						</div>
						<div class="span3" id="qrcode">
							<%= render_qr_code(@ticket.identifier.to_s) %>
							<div class="pull-left printable-label-wrapper">
								<%= t('.rut').capitalize + ": 77.929.090-5" %>
							</div>
							<div class="pull-left printable-label-wrapper">
								<%= t('.price').capitalize + ": " + number_to_currency(@ticket.price) %>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12 conditions-wrapper">
							<h3 class="conditions-title">
								<%= t('.conditions.title') %>
							</h3>
							<h4 class="conditions-sub-title">
								<%= t('.conditions.sub_title') %>
							</h4>
							<p class="conditions-desc">
								<%= t('.conditions.desc').html_safe %>
							</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12 producer-wrapper text-center">
							<div>Produce</div>
							<h2>
								<%= @ticket.event_producer.name %>
							</h2>
						</div>
					</div>
					<div class="row-fluid">
						<div class="form-actions">
              <%= link_to t("buttons.download"), download_tickets_path(ticket_id: @ticket.id, format: :pdf), :class => 'btn btn-success btn-large' %>
      				<%= link_to t("buttons.back"), puntopagos_transaction_path(@ticket.transaction), :class => 'btn btn-large' %>
    				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
