= form_for([:puntopagos, @transaction],
  :html => {:class => 'form-shop'},
  :url => {:action => 'create',
  :ticket_types => @ticket_types}) do |f|
  .row-fluid
    .span7
      - unless @nested_attributes.empty?
        %h2 Datos adicionales

        %fieldset.form-horizontal.row-fluid
          .well
            - @nested_resource = @transaction.nested_resource || @transaction.build_nested_resource
            = f.fields_for :nested_resource, @nested_resource do |ff|
              - @nested_attributes.each do |na|
                - control_group(ff, na[:attr], build_control(ff, na[:attr], na[:type]), {required: na[:required]})

    .cart-collaterals.span4.offset1
      .cart-totals
        %h2.right-align Total
        %table.table.table-bordered.table-total
          %tbody
            %tr
              %th Sub Total
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types
            %tr
              %th Total
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types

      = f.button "Pagar con Punto Pagos", :class => "btn btn-large btn-success btn-total"
