= form_for([:puntopagos, @transaction],
  :html => {:class => 'form-shop', 'ng-init' => "rut = ''"},
  :url => {:action => 'create',
  :ticket_types => @ticket_types}) do |f|
  .row-fluid
    .span7
      - unless @nested_attributes.empty?
        %h3= t(".title")

        %fieldset.form-horizontal.row-fluid
          .well
            - @nested_resource = @transaction.nested_resource || @transaction.build_nested_resource
            = f.fields_for :nested_resource, @nested_resource do |ff|
              - @nested_attributes.each do |na|
                - control_group(ff, na[:attr], build_control(ff, na[:attr], na[:type], {class: "span10"}), {required: na[:required]})

    .cart-collaterals.span4.offset1
      .cart-totals
        %h3.right-alignt= t(".total")
        %table.table.table-bordered.table-total
          %tbody
            %tr
              %th= t(".subtotal")
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types
            %tr
              %th= t(".total")
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types

      = f.button t("buttons.pay_puntopagos"), :class => "btn btn-large btn-success btn-total"
