= form_for([:puntopagos, @transaction],
  :html => {:class => 'form-shop', 'ng-init' => "rut = ''"},
  :url => {:action => 'create',
  :ticket_types => @ticket_types}) do |f|
  .row-fluid
    .span7
      - unless @nested_attributes.empty?
        %h3= t(".title")

        %fieldset.form-horizontal.row-fluid
          .well
            - @nested_resource = @transaction.nested_resource || @transaction.build_nested_resource
            = f.fields_for :nested_resource, @nested_resource do |ff|
              - @nested_attributes.each do |na|
                - control_group(ff, na[:attr], build_control(ff, na[:attr], na[:type], {class: "span10"}), {required: na[:required]})

    .cart-collaterals.span4.offset1
      .cart-totals
        %h3.right-alignt= t(".total")
        %table.table.table-bordered.table-total
          %tbody
            %tr
              %th= t(".subtotal")
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types
            %tr
              %th= t(".total")
              %td.dark-orange-text= number_to_currency calculate_total @ticket_types

        %table.table.table-bordered.table-payments
          %thead
            %tr
              %th{:colspan => "2"} Seleccione un metodo de pago
          %tbody
            - payment_methods.each do |payment_method|
              %tr
                %td
                  = f.radio_button :payment_method, payment_method[1], :class => "pull-left", "ng-model" => "paymentMethod", :style => 'display:none;'
                  %div{:value => "#{payment_method[1]}", 'ng-model'=> "paymentMethod", :title => 'prueba', "pretty-checkable" => true}
                  .payment-img-container
                    = image_tag("http://www.puntopagos.com/content/mp#{payment_method[1]}.gif", :alt => payment_method[0], :class => "payment-img")
                %td
                  = payment_method[0]

      = f.button t("buttons.pay_puntopagos"), :class => "btn btn-large btn-success btn-total", "ng-click" => "startTransaction($event)"
