.panel.panel-primary
  .panel-heading.panel-title
    %i.icon-shopping-cart
    = t(".title")
  .transaction-summary.row-fluid
    .details.span8
      .summary-item{ "ng-repeat" => "type in data.ticketTypes" }
        .summary-row
          .name.span7
            %i.icon-ticket
            = "{{ type.bought_quantity }} x {{ type.name }}"
          .value.span4
            = "{{ type.price | pteCurrency }}"
        .summary-row.promo{ "ng-repeat" => "promo in type.promotions", "ng-show" => "promo.visible"}
          .name.span6.offset1{ "ng-class" => "{'line-through': !promo.available}" }
            %i.icon-angle-right
            = "{{ promo.name }}"
          .value.span4{ "ng-class" => "{'line-through': !promo.available}" }
            = "{{ (promo.discount * -1) | pteCurrency }}"
        .summary-row
          .value.span11.overline
            = "{{ type.promo_price | pteCurrency }}"
    .totals.span4
      .summary-item
        .summary-row.total
          .name.span5
            = "Total General"
          .value.span6
            = "{{ data.total | pteCurrency }}"
        .summary-row.total
          .name.span5
            = "Bonificado"
          .value.span6
            = "{{ (data.total_discount * -1) | pteCurrency }}"
        .summary-row.total.pay
          .name.span5
            = "Total a Pagar"
          .value.span6.overline
            = "{{ data.total_to_pay | pteCurrency }}"

