.panel.panel-primary
  .panel-heading.panel-title
    %i.icon-ticket
    = t(".title")
  .transaction-summary.row-fluid
    .details.span8
      .summary-item{ "ng-repeat" => "type in data.ticketTypes" }
        .summary-row
          .name.span7
            = "{{ type.name }}"
          .value.span4
            = "{{ type.price | currency }}"
        .summary-row.promo{ "ng-repeat" => "promo in type.promotions", "ng-show" => "promo.visible" }
          .name.span6.offset1{ "ng-class" => "{'line-through': !promo.available}" }
            = "{{ promo.name }}"
          .value.span4{ "ng-class" => "{'line-through': !promo.available}" }
            = "{{ promo.discount | currency }}"
        .summary-row
          .value.span11.overline
            = "{{ type.promo_price | currency }}"
    .totals.span4
      .summary-item
        .summary-row.total
          .name.span7
            = "Total General"
          .value.span4
            = "{{ data.total | currency }}"
        .summary-row
          .name.span7
            = "Total Descuentos"
          .value.span4
            = "{{ data.total_discount | currency }}"
        .summary-row
          .name.span7
            = "Total a Pagar"
          .value.span4.overline
            = "{{ data.total_to_pay | currency }}"

