<div class="page-header">
  <h3><%= t(".title", :event_name => @event.name) %></h3>
</div>
<div ng-controller="TransactionNewCtrl"
  ng-init='init(<%= raw @transaction.ticket_types_with_promotions(@ticket_types).to_json %>, "<%= @valid_promotion_code %>", <%= @event.require_ticket_resources? %>, <%= transaction_errors_hash %>)'>

  <%= form_for([:puntopagos, @transaction],
    :html => {:class => 'form-horizontal'},
    :url => {:action => 'create'}) do |f| %>

    <!-- Creates hidden fields for:
    * ticket types
    * the most convenient promotion by ticket_type
    * activation code entered by user (if it matches with any promotion) -->
    <input type="hidden" name="promotion_code" value="{{code.valid}}" />
    <div ng-repeat="type in data.ticketTypes" style="display:none;">
      <input type="hidden" name="ticket_types[{{type.id}}][bought_quantity]"
        value="{{type.bought_quantity}}" />
      <input type="hidden" name="promotions[{{promo.ticket_type_id}}]"
        value="{{promo.id}}" ng-repeat="promo in type.promotions | filter: { best_promo: true }"/>
    </div>

    <div ng-show="showSummary">
      <%= render :partial => "summary_view", :locals => {:f => f} %>
    </div>
    <div ng-hide="showSummary" id="ticket-forms-view">
      <%= render :partial => "ticket_forms_view", :locals => {:f => f} %>
    </div>
  <% end %>
</div>
