.page-header
  %h1= t(".title")
%div{'ng-controller' => "TransactionNewCtrl"}
  = render :partial => "shared/message", :locals => { :message => t(".not_payment_method_msg.message"), :title => t(".not_payment_method_msg.title"), :modal_name => "notPaymentModal", :close_function => "closeNoPaymentModal()"}
  = render 'transaction_summary'
  = form_for([:puntopagos, @transaction],
    :html => {:class => 'form-horizontal'},
    :url => {:action => 'create',
    :ticket_types => ticket_types_to_params(@ticket_types)}) do |f|
    - if @nested_attributes.empty?
      .row
        .span12
          = render :partial => 'payment_methods', :locals => { :payment_methods => payment_methods, :form => f }
      .row
        .span7
          = render :partial => 'activation_code_panel', :locals => { :form => f }
        .span5
          = payment_button f
    - else
      .row
        .span7
          = render :partial => 'activation_code_panel', :locals => { :form => f }
          = render :partial => 'nested_resource_form', :locals => { :form => f }
        .span5
          = render :partial =>  'payment_methods', :locals => { :payment_methods => payment_methods, :form => f }
          = payment_button f
