<div class="page-header">
  <h1><%= t(".title") %></h1>
</div>
<div ng-controller="TransactionNewCtrl"
  ng-init='init(<%= raw @transaction.ticket_types_with_promotions(@ticket_types).to_json %>)'>

  <%= render :partial => "shared/message", :locals => { :message => t(".not_payment_method_msg.message"), :title => t(".not_payment_method_msg.title"), :modal_name => "notPaymentModal", :close_function => "closeNoPaymentModal()"} %>

  <%= render :partial => 'transaction_summary' %>

  <%= form_for([:puntopagos, @transaction],
    :html => {:class => 'form-horizontal'},
    :url => {:action => 'create'}) do |f| %>

    <input type="hidden" name="ticket_types[{{type.id}}][bought_quantity]" value="{{type.bought_quantity}}" ng-repeat="type in data.ticketTypes"/>

    <% if show_nested_form_for_transaction? %>
      <div class="row">
        <div class="span8">
          <%= render :partial => 'activation_code_panel', :locals => { :form => f } %>
          <%= render :partial => 'nested_resource_form', :locals => { :form => f } %>
        </div>
        <div class="span4">
          <%= render :partial =>  'payment_methods', :locals => { :payment_methods => payment_methods, :form => f } %>
          <%= payment_button f %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="span12">
          <%= render :partial => 'payment_methods', :locals => { :payment_methods => payment_methods, :form => f } %>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <%= render :partial => 'activation_code_panel', :locals => { :form => f } %>
        </div>
        <div class="span4">
          <%= payment_button f %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
