%h1 Puntopagos

- if @transaction.errors.any?
	%div=@transaction.errors.messages.inspect

%table.table.table-striped.table-colored.table-shop
	%thead
		%tr
			%th Tipo
			%th Precio
			%th Cantidad
			%th Total

	- @ticket_types.each do |t|
		%tr
			%td= t['name']
			%td.dark-orange-text= number_to_currency(t['price'])
			%td.dark-orange-text= t['qty']
			%td.dark-orange-text= number_to_currency calculate_price t


= form_for([:puntopagos, @transaction],
	:html => {:class => 'form-shop'},
	:url => {:action => 'create',
	:ticket_types => @ticket_types}) do |f|
	.row-fluid
		.span7
			%h2 Datos adicionales

			%fieldset.form-horizontal.row-fluid
				.well
					= f.fields_for :nested_resource do |resource|
						- @nested_attributes.each do |el|
							.control-group
								= resource.label(el[:attr], :class => 'control-label') do
									= el[:attr]
									- if el[:required] == true
										%span.red-text (*)
								.controls
									= build_tag resource, el[:attr], el[:type]

		.cart-collaterals.span4.offset1
			.cart-totals
				%h2.right-align Total
				%table.table.table-bordered.table-total
					%tbody
						%tr
							%th Sub Total
							%td.dark-orange-text= number_to_currency calculate_total @ticket_types
						%tr
							%th Total
							%td.dark-orange-text= number_to_currency calculate_total @ticket_types

			= f.button "Pagar con Punto Pagos", :class => "btn btn-large btn-success btn-total"
