<h1>Formulario de punto pagos</h1>

<pre>
El cliente llena el formulario con sus datos para la compra
y puntopagos notifica a la url que definimos,
/puntopagos/transactions/notification el resultado de la operación.
Para simular este proceso, clic en el botón debajo.

<%= form_tag(puntopagos_transactions_send_notification_path) do %>
  <%= hidden_field_tag "token", params[:token] %>
  <%= hidden_field_tag "trx_id", params[:trx_id] %>
  <%= hidden_field_tag "monto", params[:amount] %>
  <%= hidden_field_tag "transaction_date", params[:transaction_date] %>
  <%= hidden_field_tag "medio_pago", "999" %>
  <%= hidden_field_tag "fecha_aprobacion", Time.now.strftime("%Y-%m-%dT%H:%M:%S") %>
  <%= hidden_field_tag "codigo_autorizacion", rand(999999999) %>

  <%= submit_tag "Send Notification" %>
<% end %>
</pre>