= form_for @producer do |f|
  - if @producer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@producer.errors.count, "error")} prohibited this producer from being saved:"
      %ul
        - @producer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :rut
    = f.text_field :rut
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :website
    = f.text_field :website
  .actions
    = f.submit 'Save'
