%h1 Listing producers

%table
  %tr
    %th Name
    %th Rut
    %th Address
    %th Phone
    %th Contact name
    %th Contact email
    %th Website
    %th
    %th
    %th

  - @producers.each do |producer|
    %tr
      %td= producer.name
      %td= producer.rut
      %td= producer.address
      %td= producer.phone
      %td= producer.contact_name
      %td= producer.contact_email
      %td= producer.website
      - if can? :read, producer
        %td= link_to 'Show', producer
      - if can? :update, producer        
        %td= link_to 'Edit', edit_producer_path(producer)
      - if can? :destroy, producer
        %td= link_to 'Destroy', producer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can? :create, Producer
  = link_to 'New Producer', new_producer_path
