.page-header
  %h1= t(".title", producer_name: @producer.name)

#page_account.row
  .span3
    = render 'configuration/sidebar'
  .span9
    %p
      %b= Producer.human_attribute_name :corporate_name
      = @producer.rut
    %p
      %b= Producer.human_attribute_name :rut
      = @producer.rut
    %p
      %b= Producer.human_attribute_name :address
      = @producer.address
    %p
      %b= Producer.human_attribute_name :phone
      = @producer.phone
    %p
      %b= Producer.human_attribute_name :contact_name
      = @producer.contact_name
    %p
      %b= Producer.human_attribute_name :contact_email
      = @producer.contact_email
    %p
      %b= Producer.human_attribute_name :brief
      .pre= @producer.brief
    %p
      %b= Producer.human_attribute_name :description
      .pre= @producer.description
    %p
      %b= Producer.human_attribute_name :website
      = @producer.website
    %p
      %b= Producer.human_attribute_name :fixed_fee
      = @producer.fixed_fee
    %p
      %b= Producer.human_attribute_name :percent_fee
      = number_to_percentage(@producer.percent_fee)
    %p
      %b= Producer.human_attribute_name :confirmed
      = t(@producer.confirmed.to_s)

    .form-actions
      = link_to t("buttons.back"), configuration_producers_path, :class => 'btn'
