<div class="page-header">
  <h1><%= t(".title") %></h1>
</div>
<div class="row">
  <div class="span3">
    <%= render 'events/sidebar' %>
  </div>
  <div class="span9">
    <div class="well">
      <div class="row">
        <div class="span8">
          <legend>
            <%= t(".new_code_title", promo_name: @promotion.name) %>
          </legend>
          <%= form_for @promotion, :url => upload_promo_codes_path(@promotion), :html => {name: 'form', class: 'form-horizontal', novalidate: true, enctype: 'multipart/form-data', method: :post} do |f| %>

            <div class="form-group">
              <p><%= t('.instructions.step_1.text_html', link: promo_template_link) %></p>
              <p><%= t('.instructions.step_2') %></p>
              <p><%= t('.instructions.step_3') %></p>
            </div>

            <div class="xls-container">
              <input type="file" name="promotion[xls_file]" />
              <span class="help-block">
                <ul><%= t('.help.xls_file_html') %></ul>
              </span>
            </div>

            <div class="form-actions text-center">
              <input name="commit" class="btn btn-large btn-success btn-publish"
                     type="submit" value="Guardar" />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
