<div class="page-header">
  <h1>
    <%= t("nested_resources.title") %>
  </h1>
</div>
<div class="row" id="page_account">
  <div class="span3">
    <%= render 'events/sidebar' %>
  </div>
  <div class="span9">
    <div class="well">
      <legend>
        <%= t("nested_resources.subtitle") %>
      </legend>
      <%= show_item NestedResource.human_attribute_name(:name), @nested_resource.name %>
      <%= show_item NestedResource.human_attribute_name(:last_name), @nested_resource.last_name %>
      <%= show_item NestedResource.human_attribute_name(:rut), @nested_resource.rut %>
      <%= show_item NestedResource.human_attribute_name(:address), @nested_resource.address %>
      <%= show_item NestedResource.human_attribute_name(:age), @nested_resource.age %>
      <%= show_item NestedResource.human_attribute_name(:birthday), @nested_resource.birthday %>
      <%= show_item NestedResource.human_attribute_name(:company), @nested_resource.company %>
      <%= show_item NestedResource.human_attribute_name(:gender), gender_label(@nested_resource.gender) %>
      <%= show_item NestedResource.human_attribute_name(:job), @nested_resource.job %>
      <%= show_item NestedResource.human_attribute_name(:job_address), @nested_resource.job_address %>
      <%= show_item NestedResource.human_attribute_name(:job_phone), @nested_resource.job_phone %>
      <%= show_item NestedResource.human_attribute_name(:mobile_phone), @nested_resource.mobile_phone %>
      <%= show_item NestedResource.human_attribute_name(:phone), @nested_resource.phone %>
      <%= show_item NestedResource.human_attribute_name(:email), @nested_resource.email %>
      <%= show_item NestedResource.human_attribute_name(:website), @nested_resource.website %>
      <div class="form-actions">
        <%= link_to t("buttons.back"), participants_event_path(@event), :class => 'btn btn-success btn-large' %>
      </div>
    </div>
  </div>
</div>
