!!!
%html{"ng-app" => "puntoTicketApp"}
  %head
    %title PuntoTicketExpress
    %title= content_for?(:title) ? yield(:title) : "PuntoTicketExpress"
    %meta{:content => content_for?(:description) ? yield(:description) : "Description", :name => "description"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/navbar"
    = yield(:without_container)
    .container
      = yield

    = render "shared/footer"