<!DOCTYPE html>
<html ng-app="puntoTicketApp">
<head>
  <title>PuntoTicketExpress</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Punto Ticket", root_path, :class => 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Nuestros servicios", features_path %></li>
            <li><%= link_to "¿Como funciona?", how_works_path %></li>
            <li><%= link_to "Crear evento", new_event_path %></li>
          </ul>
          <ul class="nav pull-right" id="main-menu-right">
            <% if user_signed_in? %>
            <li><%= link_to current_user.email %></li>
            <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container"> <%= yield %> </div>

  <footer class="footer well navbar-fixed-bottom">
      <div class="container">
        <p>Diseñado y construido por <a href="platan.us" target="_blank">Platanus SpA</a>, 2013 </p>
      </div>
  </footer>

</body>
</html>
