<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="puntoTicketApp">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "PuntoTicketExpress" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Description" %>">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield(:publish_navbar) %>
    <%= yield(:without_container) %>
    <div class="container">
      <!-- Start flash message -->
      <%= render 'shared/flash_messages' %>
      <!-- End flash message -->
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
